# Node.js dependencies
node_modules/

# WhatsApp session data
.wwebjs_auth/
.wwebjs_cache/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# package-lock
package-lock.json
